<!DOCTYPE HTML>
<meta charset="utf-8">
<html>
<head>
    <title>Pgr21.com</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/img_og_90.png"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico"/>
    <!-- Open Graph Meta -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content="http://58.120.96.219/img/img_og_90.png"/>
    <meta name="image" content="http://58.120.96.219/img/img_og_90.png"/>
    <!-- <meta property="og:description" content="" /> -->
    <meta property="og:site_name" content="PGR21.com"/>
    <!-- //Open Graph Meta -->
    <link rel="StyleSheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css?v=20130210" type="text/css">
    <script src="/js/jquery-1.8.0.min.js"></script>
    <script src="/js/pgr21.js?v=20130210"></script>
    <script src="/theme_1/ui.js?v=20130210"></script>

    <link rel="StyleSheet" HREF="{{ STATIC_URL }}page.css?v=20130210" type="text/css">
    <link rel="StyleSheet" href="{{ STATIC_URL }}pgrbbs.css?v=20130210" type="text/css">
    <link rel="StyleSheet" href="{{ STATIC_URL }}theme_1/pgr21.css?v=20130210" type="text/css">
    <!-- 테마에 base 포함 -->
</head>
<script>keySetting();</script>
<body class=" iOS adm">

<div class="mainWrapper">

    <div class='header'>
        <!-- header -->
        <div>
            <a id="logoimg" href="/"><h1>PGR21.com</h1></a>
        </div>
        <div id="nav">
            <a href='/' class='wt mm0'>Home</a><span class="wt"> / </span>
            <A href="#" class='wt mm1'>게시판</a><span class="wt"> / </span>
            <A href="#" class='wt mm2'>Links</a><span class="wt"> / </span>
            <!-- <A href="#" class='wt mm3'>Teams</a><span class="wt"></span> -->
            <A href="#" class='wt mm4'>About</a><span class="wt"> / </span>
            <A href="/pb/viewscrap.php" class='wt mm5'>스크랩</a>
            <span class="wt"> / </span><A href="/setting.html" class="wt mm6">개인화</a></div>
        <div id="mobileNav">
            <a class="home">PGR21.com</a>
        </div>

        <div id="overDiv">

            <div class="menu1">
                <!-- 게시판 -->
                <ul>
                    <li><a href="/pb/pb.php?id=master">운영진</a></li>
                    <li><a href="/pb/pb.php?id=deleted">삭게</a></li>
                    <li><a href="/pb/pb.php?id=recommend">추천</a></li>
                    <li><a href="/pb/pb.php?id=ace">ACE</a></li>
                    <li><a href="/pb/pb.php?id=daku">전략</a></li>
                    <li><a href="/pb/pb.php?id=newvod">게임리포트</a></li>
                    <li><a href="/pb/pb.php?id=discuss">토론</a></li>
                    <li><a href="/pb/pb.php?id=free2">게임</a></li>
                    <li><a href="/pb/pb.php?id=freedom">자유</a></li>
                    <li><a href="/pb/pb.php?id=bug">질문</a></li>
                    <li><a href="/pb/pb.php?id=humor">유머</a></li>
                    <li><a href="/pb/pb.php?id=bulpan">불판</a></li>
                    <li><a href="/pb/pb.php?id=gamenews">게임뉴스</a></li>
                    <li><a href="/pb/pb.php?id=interview">인터뷰</a></li>
                    <li><a href="/pb/pb.php?id=series">연재</a></li>
                    <li><a href="/pb/pb.php?id=proposal">건의</a></li>
                    <li class="mobile"><a href="/pb/viewscrap.php">스크랩</a></li>
                    <li class="mobile"><a href="/staff.html">운영진소개</a></li>
                    <li class="mobile"><a href="/setting.html">개인화</a></li>
                </ul>
            </div>

            <div class="menu2">
                <!-- Links -->
                <ul>
                    <li><a href="http://www.blizzard.co.kr/" target="_blank">블리자드</a></li>
                    <!-- <li><a href="http://www.e-sports.or.kr/" target="_blank">KeSPA</a></li> -->
                    <li><a href="http://www.ongamenet.com/" target="_blank">온게임넷</a></li>
                    <li><a href="http://www.fomos.kr" target="_blank">포모스</a></li>
                    <li><a href="http://www.ygosu.com" target="_blank">와이고수</a></li>
                    <li><a href="http://nicegame.tv" target="_blank">나이스게임TV</a></li>
                    <li><a href="http://esports.gomtv.com" target="_blank">곰TV e스포츠</a></li>
                    <li><a href="http://eschosun.com" target="_blank">e스포츠조선</a></li>
                    <li><a href="http://www.thisisgame.com/esports" target="_blank">디스이즈게임</a></li>
                    <li><a href="http://esports.dailygame.co.kr" target="_blank">데일리e스포츠</a></li>
                    <li><a href="http://esports.inven.co.kr/" target="_blank">e스포츠 인벤</a></li>
                    <li><a href="http://www.teamliquid.net/" target="_blank">Teamliquid</a></li>
                    <li><a href="http://www.playxp.com/" target="_blank">PlayXP</a></li>
                </ul>
            </div>

            <div class="menu3">
                <!-- Teams -->
            </div>

            <div class="menu4">
                <!-- About -->
                <ul>
                    <!-- <li><a href="/pb/pb.php?id=faq">도움말</a></li>
                    <li><a href="/pb/pb.php?id=making">제작후기</a></li> -->
                    <li><a href="/sign.html">광고문의</a></li>
                    <li><a href="/staff.html">운영진소개</a></li>
                </ul>
            </div>

        </div>
        <!-- /overDiv -->

    </div>
    <!-- /header -->

    <div id="mainArea" style="width:inherit;">
        <div id="sideAd">
            <!--[if lt IE 9]>
	<div style="width:150px;margin-right:-30px;background:#FFF;color:#aaa;text-align:center;line-height:1.2;font-family:dotum;font-size:11px;">
	<img src="/img/ie_x.png" alt="" /><br>
	최근에 발견된 보안결함을 이용한 악성코드 공격이 급증하였습니다.
	성인사이트 이동등의 문제가 있으신 분은 크롬프레임을 설치해주세요.<br>
	<a href="http://www.google.com/chromeframe/?hl=ko" target="_blank"><img src="/img/chrome.png" alt="" /></a>
	</div>
	<![endif]-->
        </div>

        <!-- mainLeft -->
        <div id="mainLeft">

            <form name=zb_login method=post action="[action]" onsubmit="return zb_login_check_submit();">
                <div class="logged">
                    <a onfocus="blur();"
                       href="javascript:void(window.open('/pb/member_memo.php','','width=450,height=500,status=no,toolbar=no,resizable=yes,scrollbars=yes'))"><img
                            src=http://pgr21.com/pb/outlogin_skin/pgr_login/images/i_memo_off.gif border=0
                            align=absmiddle></a>
                    <a href='http://pgr21.com/pb/logout.php?&s_url=%2F'><img
                            src=http://pgr21.com/pb/outlogin_skin/pgr_login/images/i_logout.gif border=0></a>
                    <a href=#
                       onclick="window.open('http://pgr21.com/pb/member_modify.php?group_no=1','zbMemberModify','width=560,height=590,toolbars=no,resizable=yes,scrollbars=yes')"><img
                            src=http://pgr21.com/pb/outlogin_skin/pgr_login/images/i_info.gif border=0></a>
                    <a href=http://pgr21.com/pb/admin.php target=blank><img
                            src=http://pgr21.com/pb/outlogin_skin/pgr_login/images/i_admin.gif border=0></a>
                    <input type=hidden name=auto_login value=1>
                    <input type=hidden name=s_url value="[s_url]">
                </div>
            </form>
            <div onClick="$('#leftLink01').toggle();" style="cursor:pointer">:: 게시판</div>
            <ul style="width:108px;display:none;" id="leftLink01">
                <li><a href='/pb/pb.php?id=free2'>게임 게시판</a></li>
                <li><a href='/pb/pb.php?id=freedom'>자유 게시판</a></li>
                <li><a href='/pb/pb.php?id=humor'>유머 게시판</a></li>
                <li><a href='/pb/pb.php?id=bug'>질문 게시판</a></li>
                <li><a href='/pb/pb.php?id=bulpan'>불판 게시판</a></li>
                <li><a href='/pb/pb.php?id=discuss'>토론 게시판</a></li>
                <li><a href='/pb/pb.php?id=newvod'>게임 리포트</a></li>
                <li><a href='/pb/pb.php?id=series'>연재 게시판</a></li>
                <li><a href='/pb/pb.php?id=daku'>전략 게시판</a></li>
                <li><a href='/pb/pb.php?id=gamenews'>게임뉴스 게시판</a></li>
                <li><a href='/pb/pb.php?id=interview'>인터뷰 게시판</a></li>
                <li><a href='/pb/pb.php?id=ace'>ACE 게시판</a></li>
                <li><a href='/pb/pb.php?id=recommend'>추천 게시판</a></li>
                <li><a href='/pb/pb.php?id=proposal'>건의 게시판</a></li>
                <li><a href='/pb/pb.php?id=election'>선거 게시판</a></li>
            </ul>
            <div onClick="$('#leftLink02').toggle();" style="cursor:pointer">:: 이전 게시판</div>
            <ul style="width:108px;display:none;" id="leftLink02">
                <li><a href='/pb/pb.php?id=free'>이전 자유 게시판</a></li>
                <li><a href='/pb/pb.php?id=tournament'>토너먼트</a></li>
                <li><a href='/pb/pb.php?id=starcraft2'>스타2 게시판</a></li>
                <li><a href='/pb/pb.php?id=war3'>워크3 게시판</a></li>
                <li><a href='/pb/pb.php?id=olympic'>올림픽 게시판</a></li>
                <li><a href='/pb/pb.php?id=event'>이벤트 게시판</a></li>
                <li><a href='/pb/pb.php?id=worldcup'>월드컵 게시판</a></li>
                <li><a href='/pb/pb.php?id=pds'>자료실</a></li>
                <li><a href='/pb/pb.php?id=valuation'>평점 게시판</a></li>
                <li><a href='/pb/pb.php?id=translation'>번역 게시판</a></li>
                <li><a href='/pb/pb.php?id=PnB'>PnB 게시판</a></li>
                <li><a href='/pb/pb.php?id=broadcasting'>문자중계 게시판</a></li>
                <li><a href='/pb/pb.php?id=league'>PgR 대회 게시판</a></li>
                </li>
                <li><a href="/pb/pb.php?id=election">선거</a></li>
            </ul>
            <!-- <div><a href="/pb/pb.php?id=money">:: 후원 내역</a></div> -->
            <div><a href="/sign.html">:: 광고 문의</a></div>


        </div>
        <!-- /mainLeft -->
        <div id="mainRight">
            {% block contents %}
            {% endblock %}
        </div>
    </div>
    <!-- /mainRight -->
</div>
<!-- /main -->


<div id="footerTop"></div>
<div id="footer">
    <a style="position:absolute;left:0;" href="/pb/pb.php?id=master">&nbsp;</a>
    Pgr21.com
</div>

</div>
<!-- mainWrapper -->

<!--[if lt IE 8]>
	<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
	<script>CFInstall.check({ mode: "overlay" });</script>
<![endif]-->
<script type="text/javascript">
    var _gaq = _gaq || [];
    var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', 'UA-5071515-1']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>

<script type="text/javascript" id="imideo-extension-injector">
    (function (b, d, c) {
        if (!b.getElementById(c)) {
            var a = b.createElement(d);
            a.type = "text/javascript";
            a.id = c;
            a.src = "http://static.image2play.com/imideo.publisher.js?appkey=n3a5bTc8b2T563bBb90fW878br0740SbcffE98e5&extkey=11d1d91a-7814-4526-b580-7086094d76f1";
            b.getElementsByTagName("head")[0].appendChild(a);
        }
    })(document, "script", "i2p-extension");
</script>

</body>
</html>