{% extends "base.html" %}

{% block contents %}
    <!-- mainRight -->
    <style>
        #sideAd {
            display: none !important;
        }
    </style>

    <div id="indexLatest" style='padding: 15px 0 15px 15px;overflow:auto;'>

    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=recommend'>추천게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=recommend&no=570'>
                <div class='tdsub'>
                    <div>임요환씨를 기억합니다.</div>
                    <span class='sm'>[44]</span></div>
                <div class='date'>10/23</div>
            </a></li>
            <li><a href='/pb/pb.php?id=recommend&no=569'>
                <div class='tdsub'>
                    <div>약 20년 전, 안철수 후보님에 대한 추억</div>
                    <span class='sm'>[138]</span></div>
                <div class='date'>09/20</div>
            </a></li>
            <li><a href='/pb/pb.php?id=recommend&no=567'>
                <div class='tdsub'>
                    <div>당신의 연애는 안녕하십니까?</div>
                    <span class='sm'>[37]</span></div>
                <div class='date'>10/28</div>
            </a></li>
            <li><a href='/pb/pb.php?id=recommend&no=566'>
                <div class='tdsub'>
                    <div>단편만화 - 남김(2010)</div>
                    <span class='sm'>[50]</span></div>
                <div class='date'>10/23</div>
            </a></li>
            <li><a href='/pb/pb.php?id=recommend&no=565'>
                <div class='tdsub'>
                    <div>about 해설.</div>
                    <span class='sm'>[108]</span></div>
                <div class='date'>08/21</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=ace'>Ace게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=ace&no=1771'>
                <div class='tdsub'>
                    <div>[스타2] [HIGHLIGHT] 2013 GSL S1 Ro.32 Group F Critcal Strike</div>
                    <span class='sm'>[4]</span></div>
                <div class='date'>01/31</div>
            </a></li>
            <li><a href='/pb/pb.php?id=ace&no=1770'>
                <div class='tdsub'>
                    <div>[스타2] [HIGHLIGHT] 2013 GSL S1 Ro.32 Group E Critcal Strike</div>
                    <span class='sm'>[4]</span></div>
                <div class='date'>01/31</div>
            </a></li>
            <li><a href='/pb/pb.php?id=ace&no=1769'>
                <div class='tdsub'>
                    <div>[스타2] [HIGHLIGHT] 2013 GSL S1 Ro.32 Group D Critcal Strike</div>
                    <span class='sm'>[6]</span></div>
                <div class='date'>01/28</div>
            </a></li>
            <li><a href='/pb/pb.php?id=ace&no=1768'>
                <div class='tdsub'>
                    <div>[스타2] [HIGHLIGHT] 2013 GSL S1 Ro.32 Group C Critcal Strike (수정추가)</div>
                    <span class='sm'>[8]</span></div>
                <div class='date'>01/25</div>
            </a></li>
            <li><a href='/pb/pb.php?id=ace&no=1767'>
                <div class='tdsub'>
                    <div>[스타2] [HIGHLIGHT영상] 2013 GSL S1 Ro.32 GroupB Critcal Strike</div>
                    <span class='sm'>[10]</span></div>
                <div class='date'>01/24</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=bulpan'>불판게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=bulpan&no=1888'>
                <div class='tdsub'>
                    <div>[EPL 26R, LEP 23R] 불판 (박주영 후보)</div>
                    <span class='sm'>[113]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=bulpan&no=1887'>
                <div class='tdsub'>
                    <div>[EPL 26R, 분데스리가 21R 불판] (손흥민, 기성용 선발, 박지성 후보, 윤석영 결장) (2)</div>
                    <span class='sm'>[231]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=bulpan&no=1886'>
                <div class='tdsub'>
                    <div>[EPL 26R, 분데스리가 21R 불판] (손흥민, 기성용 선발, 박지성 후보, 윤석영 결장)</div>
                    <span class='sm'>[216]</span></div>
                <div class='date'>02/09</div>
            </a></li>
            <li><a href='/pb/pb.php?id=bulpan&no=1885'>
                <div class='tdsub'>
                    <div>[확밀아] 이벤트를 해도 춘향은 안나오겠지?</div>
                    <span class='sm'>[274]</span></div>
                <div class='date'>02/09</div>
            </a></li>
            <li><a href='/pb/pb.php?id=bulpan&no=1884'>
                <div class='tdsub'>
                    <div>[EPL 26R] 토트넘 핫스퍼 Vs 뉴캐슬 유나이티드 불판</div>
                    <span class='sm'>[215]</span></div>
                <div class='date'>02/09</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=series'>연재게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=series&no=565'>
                <div class='tdsub'>
                    <div>[자유의 날개 캠페인 공략] # 최후의 임무(ALL IN) 공략영상</div>
                    <span class='sm'>[21]</span></div>
                <div class='date'>01/26</div>
            </a></li>
            <li><a href='/pb/pb.php?id=series&no=564'>
                <div class='tdsub'>
                    <div>[자유의 날개 캠페인 공략] # 최후의 임무(ALL IN). intro</div>
                    <span class='sm'>[4]</span></div>
                <div class='date'>01/24</div>
            </a></li>
            <li><a href='/pb/pb.php?id=series&no=563'>
                <div class='tdsub'>
                    <div>[자유의 날개 캠페인 공략] #11. 지옥의 문, 야수의 소굴로</div>
                    <span class='sm'>[17]</span></div>
                <div class='date'>01/23</div>
            </a></li>
            <li><a href='/pb/pb.php?id=series&no=562'>
                <div class='tdsub'>
                    <div>[자유의 날개 캠페인 공략] #10. 장막을 뚫고, 공허의 나락</div>
                    <span class='sm'>[3]</span></div>
                <div class='date'>01/22</div>
            </a></li>
            <li><a href='/pb/pb.php?id=series&no=561'>
                <div class='tdsub'>
                    <div>[자유의 날개 캠페인 공략] #9. 파괴 병기, 언론의 힘</div>
                    <span class='sm'>[4]</span></div>
                <div class='date'>01/20</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=freedom'>자유게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=freedom&no=42210'>
                <div class='tdsub'>
                    <div>역사채널e - 세상에 버릴 사람은 아무도 없다</div>
                    <span class='sm'>[27]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=freedom&no=42209'>
                <div class='tdsub'>
                    <div>"샤넬"의 장식끈을 만드시는 75세의 장인 할머니</div>
                    <span class='sm'>[4]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=freedom&no=42208'>
                <div class='tdsub'>
                    <div>[야구] 최초의 재일교포 타격왕 고원부</div>
                    <span class='sm'>[9]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=freedom&no=42207'>
                <div class='tdsub'>
                    <div>여길 안 올라가 봤으면 어디가서 등산 한다고 하지마라...</div>
                    <span class='sm'>[23]</span></div>
                <div class='date'>02/09</div>
            </a></li>
            <li><a href='/pb/pb.php?id=freedom&no=42206'>
                <div class='tdsub'>
                    <div>[축구] 당신은 박지성을 아는가..</div>
                    <span class='sm'>[42]</span></div>
                <div class='date'>02/09</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=free2'>게임게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=free2&no=50543'>
                <div class='tdsub'>
                    <div>[스타2] [실전 영상] 자유의 날개 아주 어려움 난이도에서 미션 및 업적 클리어 (8)</div>
                    <span class='sm'>[0]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=free2&no=50542'>
                <div class='tdsub'>
                    <div>[LOL] 유럽챔스 1주차 1,2경기 리뷰 및 평점</div>
                    <span class='sm'>[20]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=free2&no=50540'>
                <div class='tdsub'>
                    <div>[LOL] 모쿠자 선수의 개인방송 이야기</div>
                    <span class='sm'>[53]</span></div>
                <div class='date'>02/09</div>
            </a></li>
            <li><a href='/pb/pb.php?id=free2&no=50539'>
                <div class='tdsub'>
                    <div>[LOL] 롤에서 챔피언폭의 중요성 이야기</div>
                    <span class='sm'>[31]</span></div>
                <div class='date'>02/09</div>
            </a></li>
            <li><a href='/pb/pb.php?id=free2&no=50537'>
                <div class='tdsub'>
                    <div>[스타2] 블리자드, 군단의 심장 베타 테스트 종료 일정 발표</div>
                    <span class='sm'>[32]</span></div>
                <div class='date'>02/09</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=discuss'>토론게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=discuss&no=1839'>
                <div class='tdsub'>
                    <div>"부탁" 지양해야 할 행위인가?</div>
                    <span class='sm'>[27]</span></div>
                <div class='date'>02/07</div>
            </a></li>
            <li><a href='/pb/pb.php?id=discuss&no=1838'>
                <div class='tdsub'>
                    <div>유게, 겜게 카테고리 말머리 관련</div>
                    <span class='sm'>[11]</span></div>
                <div class='date'>01/30</div>
            </a></li>
            <li><a href='/pb/pb.php?id=discuss&no=1837'>
                <div class='tdsub'>
                    <div>자유게시판의 아이돌 영상 관련</div>
                    <span class='sm'>[159]</span></div>
                <div class='date'>01/18</div>
            </a></li>
            <li><a href='/pb/pb.php?id=discuss&no=1829'>
                <div class='tdsub'>
                    <div>대한민국 중장기 정책과제에 명시된 '고령자 기준 상향'에 대한 이야기</div>
                    <span class='sm'>[8]</span></div>
                <div class='date'>12/27</div>
            </a></li>
            <li><a href='/pb/pb.php?id=discuss&no=1823'>
                <div class='tdsub'>
                    <div>피지알 시스템 개편 관련 논의</div>
                    <span class='sm'>[34]</span></div>
                <div class='date'>12/27</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=humor'>유머게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=humor&no=148309'>
                <div class='tdsub'>
                    <div>[유머] [LOL] MBC게임 보고 있나?</div>
                    <span class='sm'>[3]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=humor&no=148307'>
                <div class='tdsub'>
                    <div>[기타] 설 연휴 첫날에 롤 프로게이머 만나는 만화</div>
                    <span class='sm'>[9]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=humor&no=148306'>
                <div class='tdsub'>
                    <div>[기타] 미니밴의 신기한 변신</div>
                    <span class='sm'>[1]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=humor&no=148305'>
                <div class='tdsub'>
                    <div>[유머] 아기 돼지를 위한 배려</div>
                    <span class='sm'>[0]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=humor&no=148304'>
                <div class='tdsub'>
                    <div>[기타] [프야매] 야구는 빠따놀음이죠.</div>
                    <span class='sm'>[1]</span></div>
                <div class='date'>02/10</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=bug'>질문게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=bug&no=160094'>
                <div class='tdsub'>
                    <div>07-08 챔피언스리그 4강 맨유vs바르샤 풀경기 보는 방법있을까요?</div>
                    <span class='sm'>[1]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=bug&no=160093'>
                <div class='tdsub'>
                    <div>확밀아 카드질문입니다</div>
                    <span class='sm'>[1]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=bug&no=160092'>
                <div class='tdsub'>
                    <div>원순철 런쳐 종료 후 광고 안뜨게 할 순 없나요?</div>
                    <span class='sm'>[1]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=bug&no=160091'>
                <div class='tdsub'>
                    <div>[LOL] 공용룬 질문입니다</div>
                    <span class='sm'>[5]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=bug&no=160090'>
                <div class='tdsub'>
                    <div>노트북 윈도우 업그레이드 질문입니다</div>
                    <span class='sm'>[0]</span></div>
                <div class='date'>02/10</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=gamenews'>게임뉴스</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=gamenews&no=5068'>
                <div class='tdsub'>
                    <div>[인벤] GSL을 더욱 특별하게 만드는 '음악의 연금술사', 곰티비 음악감독 진태민</div>
                    <span class='sm'>[0]</span></div>
                <div class='date'>02/09</div>
            </a></li>
            <li><a href='/pb/pb.php?id=gamenews&no=5067'>
                <div class='tdsub'>
                    <div>[데일리e스포츠] SK텔레콤 김택용은 부활할 것인가</div>
                    <span class='sm'>[2]</span></div>
                <div class='date'>02/09</div>
            </a></li>
            <li><a href='/pb/pb.php?id=gamenews&no=5065'>
                <div class='tdsub'>
                    <div>[포모스] LOL 최강팀 프로스트-블레이즈 CJ 엔투스 전격 입단!</div>
                    <span class='sm'>[2]</span></div>
                <div class='date'>02/05</div>
            </a></li>
            <li><a href='/pb/pb.php?id=gamenews&no=5062'>
                <div class='tdsub'>
                    <div>[TIG] 모바일게임 강제 셧다운제 적용, 2년 더 미룬다</div>
                    <span class='sm'>[1]</span></div>
                <div class='date'>02/05</div>
            </a></li>
            <li><a href='/pb/pb.php?id=gamenews&no=5061'>
                <div class='tdsub'>
                    <div>[해럴드경제] e스포츠, '인천 아시안게임' 참여할 것</div>
                    <span class='sm'>[8]</span></div>
                <div class='date'>02/03</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=newvod'>게임리포트</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=newvod&no=11504'>
                <div class='tdsub'>
                    <div>2013년 02월 02일 (토) 리그오브레전드 리그</div>
                    <span class='sm'>[0]</span></div>
                <div class='date'>02/01</div>
            </a></li>
            <li><a href='/pb/pb.php?id=newvod&no=11503'>
                <div class='tdsub'>
                    <div>2013년 02월 01일 (금) 리그오브레전드 리그</div>
                    <span class='sm'>[0]</span></div>
                <div class='date'>01/31</div>
            </a></li>
            <li><a href='/pb/pb.php?id=newvod&no=11502'>
                <div class='tdsub'>
                    <div>2013년 01월 31일 (목) 리그오브레전드 리그</div>
                    <span class='sm'>[2]</span></div>
                <div class='date'>01/31</div>
            </a></li>
            <li><a href='/pb/pb.php?id=newvod&no=11501'>
                <div class='tdsub'>
                    <div>2013년 01월 29일 (화) 리그오브레전드 리그</div>
                    <span class='sm'>[1]</span></div>
                <div class='date'>01/28</div>
            </a></li>
            <li><a href='/pb/pb.php?id=newvod&no=11500'>
                <div class='tdsub'>
                    <div>2013년 01월 25일 (금) 리그오브레전드 리그</div>
                    <span class='sm'>[2]</span></div>
                <div class='date'>01/24</div>
            </a></li>
        </ul>
    </div>
    <div class='hDiv'>
        <div class='bbsTit'><a href='/pb/pb.php?id=daku'>전략게시판</a></div>
        <ul class='hList'>
            <li><a href='/pb/pb.php?id=daku&no=1988'>
                <div class='tdsub'>
                    <div>[T vs Z] 원배럭 더블 후 발리오닉</div>
                    <span class='sm'>[0]</span></div>
                <div class='date'>02/10</div>
            </a></li>
            <li><a href='/pb/pb.php?id=daku&no=1987'>
                <div class='tdsub'>
                    <div>[P vs Z] 사우론 저그 때려잡는 신더블넥서스 by 걸스데이</div>
                    <span class='sm'>[7]</span></div>
                <div class='date'>02/04</div>
            </a></li>
            <li><a href='/pb/pb.php?id=daku&no=1975'>
                <div class='tdsub'>
                    <div>[P vs T] 원배럭 더블 때려잡는 더블콘토스</div>
                    <span class='sm'>[9]</span></div>
                <div class='date'>11/02</div>
            </a></li>
            <li><a href='/pb/pb.php?id=daku&no=1974'>
                <div class='tdsub'>
                    <div>[팀플] 용선생의 매너파일런의 3팩토리 빌드 약간 최적화해봤습니다</div>
                    <span class='sm'>[1]</span></div>
                <div class='date'>10/23</div>
            </a></li>
            <li><a href='/pb/pb.php?id=daku&no=1972'>
                <div class='tdsub'>
                    <div>[T vs P] 이영호식 충격탄 트리플</div>
                    <span class='sm'>[5]</span></div>
                <div class='date'>10/01</div>
            </a></li>
        </ul>
    </div>
    </div>
{% endblock %}